@import url("http:////cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");
/*
 * Style tweaks
 * --------------------------------------------------
 */
html, body {
    height: 100%;
}
/* PARA EL PRELOADER O SPLASH */
body {
    overflow: hidden;
}
/* preloader */
#preloader {
    position: fixed;
    top:0; left:0;
    right:0; bottom:0;
    background: #243040;
    z-index: 1005;
    color: #0F0;
}
#loader {
    width: 100px;
    height: 100px;
    position: absolute;
    left:50%; top:50%;
    background: url(../img/loader.gif) no-repeat center 0;
    margin:-50px 0 0 -50px;
    text-align: center;
}
.txtloader{
  top: 50px;
  text-align: center;
}
/* TERMINAL */
#cmd span {
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: -25px;
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: ease;
}
@-webkit-keyframes 'blink' {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* OTROS */
.mimap2{
  position: absolute;
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.mioculto {
  display: none;
/*  visibility: hidden;*/
}
.panel{
  border-radius: 0px;

}
.panel-body-mio {
  padding: 4px;
}
.midivpancab {
  background-color: #447;
}

.mihr{
  margin-top: 2px;
  margin-bottom: 4px;
  border-top: 2px solid #eee;
}
.midivhr {
  margin-top: 2px;
  margin-bottom: 4px;
  border-top: 2px solid #eee;  
  border-bottom: 2px solid #eee;
  text-align: center;
}
.mitable tr td{

}
/** MODAL Win8 style**/
.modal  {
/*   display: block;*/
    /*padding-right: 0px;*/
    /*background-color: rgba(4, 4, 4, 0.8); */
    /*background-color: #444;*/
    }
.modal-dialog {
    top: 10%;
    width: 95%;
    position: absolute;
}
.modal-content {
    border-radius: 0px;
    border: none;
    top: 30%;
    /*background-color: #BBB;*/
}
.modal-body {
    border-radius: 0px;
    /*background-color: #0f8845;*/
    /*background-color: #444;
    /*color: white;*/
}

.mibtnflat{
  border-radius: 0px;
  width: 220px;
}

/****** otro tipo boton **********/
.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

/************ 
MATERIAL CARD http://codepen.io/themihel/pen/mywpEp By Mischa Helfenstein
****/

@media only screen and (max-device-width: 480px) {
  body .materialCard {
    width: 98%;
    margin: 2.5%;
  }
}
@media only screen and (min-device-width: 480px) {
  body .materialCard {
/*    width: 30%;*/
    width: 90%;
    float: left;
    margin: 1.65%;
  }
}

.materialCard {
  box-sizing: border-box;
  background-color: #F1FFF1;
  color: #000000;
  border-top: 5px solid #FFFFFF;
  /*border-radius: 3px;*/
  padding: 5px;
  margin: 0 auto;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  /*box-shadow: 5px 3px 3px 0 rgba(0, 0, 0, 0.26);*/
}
.materialCard header {
  font-size: 1.1em;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.materialCard header h1, .materialCard header h2, .materialCard header h3, .materialCard header h4, .materialCard header h5, .materialCard header h6 {
  padding: 0px;
  margin: 0px;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
}
.materialCard header h1 {
  font-size: 1em;
}
.materialCard header h2 {
  font-size: 0.9em;
}
.materialCard header h3 {
  font-size: 0.8em;
}
.materialCard header h4 {
  font-size: 0.7em;
}
.materialCard header h5 {
  font-size: 0.6em;
}
.materialCard header h6 {
  font-size: 0.5em;
}
.materialCard.alert {
  border-top: 5px solid #E9453A;
}
.materialCard.success {
  border-top: 5px solid #8CC04D;
  border-bottom: 1px solid #8CC04D;
}
.materialCard.warning {
  border-top: 5px solid #F49719;
}
.materialCard.note {
  border-top: 5px solid #428DCC;
}
.materialCard.image {
  border: none;
}
