/*Nav-Bar Mobile, basado en snippet de bootsnip.com by mouse0270 */

/*CON BARRA SUPERIOR*/
body {    
    padding-top: 55px;
}
body.navbar-more-show  {
  overflow: hidden;
}


.animate {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar {
  z-index: 90;
  height: calc(100%);
  max-height: 300px;
  -webkit-transform: translate(0px, calc(-100% + 58px));
  transform: translate(0px, calc(-100% + 58px));
}
.navbar .container:not(.navbar-more) {
    padding: 0px;
}
.navbar-more-overlay {
  background-color: rgba(102, 102, 102, 0.55);
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}
.navbar-more-show > .navbar-more-overlay {
  display: block;
}
.navbar-more-show > .navbar {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.navbar-nav.mobile-bar {
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin: 0px 0px;
}
.navbar-nav.mobile-bar > li {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
}
.navbar-nav.mobile-bar > li > a > span.menu-icon {
  display: block;
  font-size: 1.4em;
  margin-left: 2px;
  margin-right: 2px;
  padding-right: 0px;
  padding-left: 0px;  
}
.navbar-more {
  /*background-color: rgb(10, 10, 10);*/
  height: calc(100% - 58px);
  overflow: auto;
}
.navbar-more .navbar-form {
  border-width: 0px;
}
.navbar-more .navbar-nav > li > a {
    /*color: rgb(64, 64, 64); */
    margin-left: 2px;
    margin-right: 2px;  
}
.navbar-more > .navbar-nav > li > a > span.menu-icon {
  margin-left: 2px;
  margin-right: 2px;
  padding-right: 0px;
  padding-left: 0px;
}
.nav>li>a {
  padding-right: 2px;
  padding-left: 2px;
/*  padding: 5px 5px;*/
}
.nav{
  padding-left: 0px;
}

@media (min-width: 768px) {
  .navbar {
    height: auto;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .navbar-nav.mobile-bar {
    display: block;
    max-height: 56px;
    /*margin: 0px;*/
  }
  .navbar-nav.mobile-bar > li > a > span.menu-icon {
    display: none;
  }
  .nav {
  padding-left: 0px;    
  }
}
